:host {
    flex: 6;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.exam-setting-form {
    padding: 0 8px;
}

.exam-setting-form legend {
    padding: 0 8px;
}

.exam-setting-form fieldset {
    border: 1px solid grey;
    padding: 16px 12px;
    margin-bottom: 16px;
}

.exam-setting-form fieldset > label {
    display: block;
    margin-top: 16px;
}

.exam-setting-form .operator-setting {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.exam-setting-form .operator-setting > input {
    width: 20%;
    border: 1px solid grey;
    border-radius: 0px;
    padding: 8px 4px;
    text-align: center;
    font-size: 12px;
}
