<h3>Exam Settings (考试设置)</h3>
<form>
    <fieldset>
        <legend>
            <label for="test_addition">
                <input type="checkbox" name="test_addition" id="test_addition" /> 测试加法 A + B = C
            </label>
        </legend>
        <div class="addition-setting">
            <div>
                <label for="addition_a_min">A 最小值:</label><br />
                <input id="addition_a_min" type="text" />
            </div>
            <div>
                <label for="addition_a_max">A 最大值:</label><br />
                <input id="addition_a_max" type="text" />
            </div>
            <div>
                <label for="addition_b_min">B 最小值:</label><br />
                <input id="addition_b_min" type="text" />
            </div>
            <div>
                <label for="addition_b_max">B 最大值:</label><br />
                <input id="addition_b_max" type="text" />
            </div>
        </div>
    </fieldset>
    <!-- <fieldset>
        <legend>
            <label for="test_subtraction" class="pure-checkbox">
                <input type="checkbox" name="test_subtraction" id="test_subtraction" /> 测试减法 (A - B = C)
            </label>
        </legend>
        
        <div class="pure-g">
            <div class="pure-u-1-4">
                <label for="subtraction_a_min">A 最小值:</label>
                <input id="subtraction_a_min" class="pure-u-23-24" type="text" />
            </div>
            <div class="pure-u-1-4">
                <label for="subtraction_a_max">A 最大值:</label>
                <input id="subtraction_a_max" class="pure-u-23-24" type="text" />
            </div>
            <div class="pure-u-1-4">
                <label for="subtraction_b_min">B 最小值:</label>
                <input id="subtraction_b_min" class="pure-u-23-24" type="text" />
            </div>
            <div class="pure-u-1-4">
                <label for="subtraction_b_max">B 最大值:</label>
                <input id="subtraction_b_max" class="pure-u-23-24" type="text" />
            </div>
        </div>
        <label for="subtraction_allow_negtive_value" class="pure-checkbox">
            <input type="checkbox" name="subtraction_allow_negtive_value" id="subtraction_allow_negtive_value" /> 允许减法结果为负数
        </label>
    </fieldset> -->
    <!-- <fieldset>
        <legend>
            <label for="Multiplication">
                Multiplication (乘法) <input type="checkbox" name="exam-types[]" id="Multiplication" />
            </label>
        </legend>
    </fieldset>
    <fieldset>
        <legend>
            <label for="Division">
                Division (除法) <input type="checkbox" name="exam-types[]" id="Division" />
            </label>
        </legend>
    </fieldset> -->
</form>
