<!-- <button *ngFor="let key of keys" (click)="onClick(key)">{{key}}</button> -->
<!-- <div class="item" *ngFor="let key of keys" (click)="onClick(key)">{{key}}</div> -->

<div class="row">
    <div class="key" (click)="onClick('1')">1</div>
    <div class="key" (click)="onClick('2')">2</div>
    <div class="key" (click)="onClick('3')">3</div>
    <div class="key" (click)="onClick('4')">4</div>
  </div>
  <div class="row">
    <div class="key" (click)="onClick('5')">5</div>
    <div class="key" (click)="onClick('6')">6</div>
    <div class="key" (click)="onClick('7')">7</div>
    <div class="key" (click)="onClick('8')">8</div>
  </div>
  <div class="row">
    <div class="key" (click)="onClick('9')">9</div>
    <div class="key" (click)="onClick('0')">0</div>
    <div class="key" (click)="onClick('OK')">OK</div>
    <div class="key" (click)="onClick('CLEAR')">CLEAR</div>
  </div>
