:host {
  width: 320px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.item {
  width: 100px;
  height: 100px;
  margin-right: 5px;
  margin-bottom: 5px;
  border: 1px solid #000000;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}


