:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.result {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.operation {
  flex: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}

.operation.alert {
  color: red;
}

number-pad {
  flex: 2;
  margin: 0 auto;
}
