:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.exam-menu {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.exam-menu > a {
  padding: 0 16px;
  text-decoration: none;
}
